logs/
src.egg-info/
template.py
src\__pycache__
**\__pycache__\
project_working_problems_or_info.txt
Dockerfile
app.py
D:\home loan credit risk\Dockerfile
__pycache__/
*.pyc
*.pyo
*.pyd
notebooks/FeatureENG.txt
notebooks/cleanining_application_train.txt
notebooks/docs.txt
notebooks/04_post_manual_binning.ipynb
notebooks/05_experiment_manaual_pre_binning.ipynb
notebooks/view_data.ipynb
iterative
artifact/scorecard/scored_train.csv
artifact/validation
artifact/binning
artifact/data
artifact/experiment_results
.vscode
.dvc