logs/
artifact/
src.egg-info/
template.py
src\__pycache__
**\__pycache__\
project_working_problems_or_info.txt
Dockerfile
app.py
D:\home loan credit risk\Dockerfile
__pycache__/
*.pyc
*.pyo
*.pyd
notebooks/02_EDA.ipynb
notebooks/FeatureENG.txt
notebooks/cleanining_application_train.txt
notebooks/docs.txt